body{
	background-color: black;
	background-image: url(images/fonds.png);

}

#rail{
	display: block;
	float: left;
}
#titles{
	display: relative;
	width: 200px;
	float: left;
}
#desc{
	display: relative;
	width: 200px;
	float: left;
}
#slideshow{
	overflow: hidden;
	border: 1px solid black;
}
.image_title{
	width: 300px;
	float: left;
	display: absolute;
}
.bgSizeCover {
  	margin:0;
  	padding:0;
	float: left;
 	height: 340px;
  	width: 600px;
  	background: no-repeat center;
  	background-size: cover;
}
p#internet-message{
	visibility: hidden;
}
#timeline {
	position: absolute;
	background-color: red;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 2px;
}	

#back{
	position: absolute;
	bottom: 50%;
	left: 0px;
}

#pause{
	position: absolute;
	bottom: 50%;
	left: 50%;
	right: 50%;
	margin-right: auto;
	margin-left: auto;
}

#next{
	position: absolute;
	bottom: 50%;
	right: 0px;

}