body{
}

#rail{
	display: block;
	float: left;
}
#titles{
	display: relative;
	width: 1200px;
	float: left;
}
#slideshow{
	width:300px;
	overflow: hidden;
	border: 1px solid black;
}
.image_title{
	width: 300px;
	float: left;
	display: absolute;
}
.bgSizeCover {
  	margin:0;
  	padding:0;
	float: left;
 	height: 170px;
  	width: 300px;
  	background: no-repeat center;
  	background-size: cover;
}

#back{
	position: absolute;
	bottom: 100px;
	left: 0px;
}

#pause{
	position: absolute;
	bottom: 100px;
	left:150px;
	right:300px;
	margin-right: auto;
	margin-left: auto;
}

#next{
	position: absolute;
	bottom: 100px;
	right: 0px;

}